.machine {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vh;
  height: 30vh;
  border-radius: 1%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.slots {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45vh;
  height: 20vh;
  border-radius: 10px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-perspective: 400vh;
  perspective: 400vh;
  overflow: hidden;
  background-color: #050505;
}
.slots:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.8) 12%,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.8) 90%,
    black 100%
  );
}
.slotStopped {
  position: absolute;
  top: 0vh;
  width: 30%;
  height: 10vh;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.slotStopped:nth-child(1) {
  left: 3%;
}
.slotStopped:nth-child(2) {
  left: 35%;
}
.slotStopped:nth-child(3) {
  left: 67%;
}

.slotSpinning {
  position: absolute;
  top: 0vh;
  width: 30%;
  height: 10vh;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.slotSpinning:nth-child(1) {
  left: 3%;
  -webkit-animation-name: rotate-1;
  animation-name: rotate-1;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}
.slotSpinning:nth-child(2) {
  left: 35%;
  -webkit-animation-name: rotate-2;
  animation-name: rotate-2;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}
.slotSpinning:nth-child(3) {
  left: 67%;
  -webkit-animation-name: rotate-2;
  animation-name: rotate-2;
  -webkit-animation-duration: 5.4s;
  animation-duration: 5.4s;
}

.slot {
  position: absolute;
  top: 0vh;
  width: 30%;
  height: 10vh;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.slot:nth-child(1) {
  left: 3%;
  -webkit-animation-name: rotate-1;
  animation-name: rotate-1;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}
.slot:nth-child(2) {
  left: 35%;
  -webkit-animation-name: rotate-2;
  animation-name: rotate-2;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}
.slot:nth-child(3) {
  left: 67%;
  -webkit-animation-name: rotate-2;
  animation-name: rotate-2;
  -webkit-animation-duration: 5.4s;
  animation-duration: 5.4s;
}

@-webkit-keyframes rotate-1 {
  0% {
    -webkit-transform: rotateX(324deg);
    transform: rotateX(324deg);
  }
  50% {
    -webkit-transform: rotateX(-900deg);
    transform: rotateX(-900deg);
  }
  70% {
    -webkit-transform: rotateX(-1260deg);
    transform: rotateX(-1260deg);
  }
  90% {
    -webkit-transform: rotateX(-1584deg);
    transform: rotateX(-1584deg);
  }
  100% {
    -webkit-transform: rotateX(-1620deg);
    transform: rotateX(-1620deg);
  }
}

@keyframes rotate-1 {
  0% {
    -webkit-transform: rotateX(324deg);
    transform: rotateX(324deg);
  }
  50% {
    -webkit-transform: rotateX(-900deg);
    transform: rotateX(-900deg);
  }
  70% {
    -webkit-transform: rotateX(-1260deg);
    transform: rotateX(-1260deg);
  }
  90% {
    -webkit-transform: rotateX(-1584deg);
    transform: rotateX(-1584deg);
  }
  100% {
    -webkit-transform: rotateX(-1620deg);
    transform: rotateX(-1620deg);
  }
}
@-webkit-keyframes rotate-2 {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(-1044deg);
    transform: rotateX(-1044deg);
  }
  70% {
    -webkit-transform: rotateX(-1404deg);
    transform: rotateX(-1404deg);
  }
  90% {
    -webkit-transform: rotateX(-1728deg);
    transform: rotateX(-1728deg);
  }
  100% {
    -webkit-transform: rotateX(-1764deg);
    transform: rotateX(-1764deg);
  }
}
@keyframes rotate-2 {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(-1044deg);
    transform: rotateX(-1044deg);
  }
  70% {
    -webkit-transform: rotateX(-1404deg);
    transform: rotateX(-1404deg);
  }
  90% {
    -webkit-transform: rotateX(-1728deg);
    transform: rotateX(-1728deg);
  }
  100% {
    -webkit-transform: rotateX(-1764deg);
    transform: rotateX(-1764deg);
  }
}
@-webkit-keyframes rotate-3 {
  0% {
    -webkit-transform: rotateX(108deg);
    transform: rotateX(108deg);
  }
  50% {
    -webkit-transform: rotateX(-828deg);
    transform: rotateX(-828deg);
  }
  70% {
    -webkit-transform: rotateX(-1188deg);
    transform: rotateX(-1188deg);
  }
  90% {
    -webkit-transform: rotateX(-1512deg);
    transform: rotateX(-1512deg);
  }
  100% {
    -webkit-transform: rotateX(-1548deg);
    transform: rotateX(-1548deg);
  }
}
@keyframes rotate-3 {
  0% {
    -webkit-transform: rotateX(108deg);
    transform: rotateX(108deg);
  }
  50% {
    -webkit-transform: rotateX(-828deg);
    transform: rotateX(-828deg);
  }
  70% {
    -webkit-transform: rotateX(-1188deg);
    transform: rotateX(-1188deg);
  }
  90% {
    -webkit-transform: rotateX(-1512deg);
    transform: rotateX(-1512deg);
  }
  100% {
    -webkit-transform: rotateX(-1548deg);
    transform: rotateX(-1548deg);
  }
}
.number {
  position: absolute;
  top: 5vh;
  right: 0;
  left: 0;
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  box-shadow: inset 0 0 1vh rgba(0, 0, 0, 0.8),
    inset 0 0 0.125vh rgba(0, 0, 0, 0.5);
  background-color: rgba(204, 193, 163, 0.95);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.number:nth-child(0) {
  -webkit-transform: rotateX(0deg) translateZ(15vh);
  transform: rotateX(0deg) translateZ(15vh);
}

.number:nth-child(1) {
  -webkit-transform: rotateX(36deg) translateZ(15vh);
  transform: rotateX(36deg) translateZ(15vh);
}

.number:nth-child(2) {
  -webkit-transform: rotateX(72deg) translateZ(15vh);
  transform: rotateX(72deg) translateZ(15vh);
}

.number:nth-child(3) {
  -webkit-transform: rotateX(108deg) translateZ(15vh);
  transform: rotateX(108deg) translateZ(15vh);
}

.number:nth-child(4) {
  -webkit-transform: rotateX(144deg) translateZ(15vh);
  transform: rotateX(144deg) translateZ(15vh);
}

.number:nth-child(5) {
  -webkit-transform: rotateX(180deg) translateZ(15vh);
  transform: rotateX(180deg) translateZ(15vh);
}

.number:nth-child(6) {
  -webkit-transform: rotateX(216deg) translateZ(15vh);
  transform: rotateX(216deg) translateZ(15vh);
}

.number:nth-child(7) {
  -webkit-transform: rotateX(252deg) translateZ(15vh);
  transform: rotateX(252deg) translateZ(15vh);
}

.number:nth-child(8) {
  -webkit-transform: rotateX(288deg) translateZ(15vh);
  transform: rotateX(288deg) translateZ(15vh);
}

.number:nth-child(9) {
  -webkit-transform: rotateX(324deg) translateZ(15vh);
  transform: rotateX(324deg) translateZ(15vh);
}

.number:nth-child(10) {
  -webkit-transform: rotateX(360deg) translateZ(15vh);
  transform: rotateX(360deg) translateZ(15vh);
}

body {
  background-color: #222;
}
